/* Write your CSS! */

html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

header {
	border-bottom: 2px solid #531;
	top: 0;
}

footer {
	border-top: 2px solid #531;
	bottom: 0;
}